<html>
    <head>
        <meta charset="UTF-8">
        <title>글 읽기</title>
    </head>
    <body>
        제목 : <%= Data[0].title %>
        <br/>
        작성자 : <%= Data[0].author %>
        <br/>
        내용 : <%= Data[0].contents %>
        <br/>
        <a href='/boards'><div class="content-Btn">확인</div></a>

    </body>
</html>