<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글작성</title>
</head>
<body>
    <div class="write_form">
        <form id="writeAction" action="write" method="post">
            <input type="text" class="inputSubject" id="addContentSubject" name="addContentSubject" placeholder="제목">
            <input type="text" class="inputWriter" id="addContentWriter" name="addContentWriter" placeholder="작성자">
            <textarea class="textContents" id="addContents" name="addContents" rows="20" cols="80"></textarea>
            <br/>
            <input type="submit" id="sendbtn" value="send" onClick="Sendbtn()" >


        </form>

        <div id = "new" class="addBtngroup">
            <button id = "btnCancel" onclick="location.href='/boards'">Cancel</button>
        </div>
    </div>
    <script>
        let obj;

        let Sendbtn = function(){
          let httpRequest;
          if(window.XMLHttpRequest){ //Chrome, Safari..
            httpRequest = new XMLHttpRequest();
          }

          httpRequest.onreadystatechange = function(){
            if(httpRequest.readyState === 4){
              /* 서버에 대한 요청 응답 처리 상태 : readyState */
              if(httpRequest.status === 200){
                /* 서버 응답 코드 : status */
                //attach.innerHTML = httpRequest.responseText;
                obj = JSON.parse(httpRequest.responseText);

                console.log(obj);
              }
            }
          };

          //console.log(element);
          //httpRequest.open('GET', '/dataGet', true);
          httpRequest.send();
        }

    </script>

</body>
</html>